body{
    font-family:'helvetica', 'arial', sans-serif;
}

h1 { font-family: 'gilbert-color-bold-preview5';
    font-size: 500%;

}

.left{
    background-color: #4D1983;
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
}

.interface{
    text-align: center;
    padding: 20px;
}

a.button{
    display: inline-block;
    background-color: aquamarine;
    color: #4D1983;
    padding: 20px 40px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10px;
    transition: color 300ms;
}

a:hover{
    color: red;
}

.right{
    background: url(../img/background.gif) no-repeat 0 0;
    background-size: cover;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
}

.ground{
    background: url('../img/ground2.png') no-repeat center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
}

.nervous{
    background: url('../img/whoohoo2.png') no-repeat 0 0;
    position: absolute;
    bottom: 45px;
    left: 50%;
    width: 400px;
    height: 320px;
    margin-left: -90px;
    display: none;
}

.nervous.show{
    display: block;
}

.cant-wait{
    background: url('../img/i-cant-wait2.png') no-repeat 0 0;
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 400px;
    height: 320px;
    margin-left: -270px;
    display: none;
}
.cant-wait.show{
    display: block;
}


.rocket{
    position: absolute;
    left: 50%;
    bottom: 20px;
    width: 130px;
    height: 211px;
    margin-left: -65px;
    background: url('../img/state11.png') no-repeat 0 0; /*i could also put 'center center' instead of '0 0'*/
    transition: bottom 10000ms;
}


/* rocket bg image */
body.body-state2 .rocket{
    background-image: url('../img/state22.gif');
}

body.body-state3 .rocket,
body.body-state4 .rocket{
    background-image: url('../img/state33.gif');
    height: 268px;
}

body.body-state5 .rocket{
    background-image: url('../img/boom2.png');
    width: 480px;
    height: 384px;
    margin-left: -240px;
}
/**/

body.body-state1 .rocket{
    transition: none;
}


body.body-state3 .rocket,
body.body-state4 .rocket{
    bottom: 200%;
}

.state1, .state2, .state3, .state4, .state5{
    display: none;
}


body.body-state1 .state1{display: block;}
body.body-state2 .state2{display: block;}
body.body-state3 .state3{display: block;}
body.body-state4 .state4{display: block;}
body.body-state5 .state5{display: block;}